.rootCtr::before {
  content: "";
  background-image: url(/Frame.png);
  height: calc(100vh - 80px);
  width: 100%;
  mix-blend-mode: luminosity;
  position: absolute;
  top: 80;
  left: 0;
  bottom: 0;
  right: 0;
}
