.teamCount {
  background-image: url(/team-count-bg.jpg);
  background-repeat: repeat;
  background-size: cover;
  object-position: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #3e64ff80;
  -webkit-font-smoothing: antialiased;
}
